body {
  margin: 0;
  background-image: url('https://i.giphy.com/media/7VzgMsB6FLCilwS30v/giphy.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(245, 242, 242, 0);
  

}
@media (max-width: 767px) {
  body {
    margin: 0;
    background-image: url('https://i.giphy.com/media/7VzgMsB6FLCilwS30v/giphy.webp');
    background-size: 100%;
    background-repeat: repeat;
    background-color: rgba(245, 242, 242, 0);
  }


}

